# .gitignore
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.ruff_cache/

# Data artefacts (working data, regenerated)
data/raw_archive/
data/landing/
data/duckdb/
*.zip
!tests/fixtures/*.zip

# dbt working dirs
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/.user.yml
dbt_project/package-lock.yml
profiles.yml

# GE working
great_expectations/uncommitted/

# Evidence
evidence/.evidence/
evidence/node_modules/
evidence/build/

# Secrets
.env
*.json
!tests/fixtures/*.json
!great_expectations/expectations/*.json
!evidence/package.json
!evidence/package-lock.json

# Notebook accidents
notebooks/data/
